/*
Monad API

This is the monad API

API version: 1.0
Contact: support@swagger.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package monad

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AlertsAPIService AlertsAPI service
type AlertsAPIService service

type ApiV3OrganizationIdAlertsGetRequest struct {
	ctx context.Context
	ApiService *AlertsAPIService
	organizationId string
	ruleIds *string
	severities *string
	pipelineIds *string
	resourceType *string
	resourceId *string
	since *string
	until *string
}

// Comma-separated alert rule IDs
func (r ApiV3OrganizationIdAlertsGetRequest) RuleIds(ruleIds string) ApiV3OrganizationIdAlertsGetRequest {
	r.ruleIds = &ruleIds
	return r
}

// Comma-separated severity levels
func (r ApiV3OrganizationIdAlertsGetRequest) Severities(severities string) ApiV3OrganizationIdAlertsGetRequest {
	r.severities = &severities
	return r
}

// Comma-separated pipeline IDs
func (r ApiV3OrganizationIdAlertsGetRequest) PipelineIds(pipelineIds string) ApiV3OrganizationIdAlertsGetRequest {
	r.pipelineIds = &pipelineIds
	return r
}

// Resource type filter
func (r ApiV3OrganizationIdAlertsGetRequest) ResourceType(resourceType string) ApiV3OrganizationIdAlertsGetRequest {
	r.resourceType = &resourceType
	return r
}

// Specific resource ID
func (r ApiV3OrganizationIdAlertsGetRequest) ResourceId(resourceId string) ApiV3OrganizationIdAlertsGetRequest {
	r.resourceId = &resourceId
	return r
}

// RFC3339 timestamp for start time
func (r ApiV3OrganizationIdAlertsGetRequest) Since(since string) ApiV3OrganizationIdAlertsGetRequest {
	r.since = &since
	return r
}

// RFC3339 timestamp for end time
func (r ApiV3OrganizationIdAlertsGetRequest) Until(until string) ApiV3OrganizationIdAlertsGetRequest {
	r.until = &until
	return r
}

func (r ApiV3OrganizationIdAlertsGetRequest) Execute() (*RoutesV3AlertList, *http.Response, error) {
	return r.ApiService.V3OrganizationIdAlertsGetExecute(r)
}

/*
V3OrganizationIdAlertsGet List alerts with pagination

Get list of recent historical alerts for an organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return ApiV3OrganizationIdAlertsGetRequest
*/
func (a *AlertsAPIService) V3OrganizationIdAlertsGet(ctx context.Context, organizationId string) ApiV3OrganizationIdAlertsGetRequest {
	return ApiV3OrganizationIdAlertsGetRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return RoutesV3AlertList
func (a *AlertsAPIService) V3OrganizationIdAlertsGetExecute(r ApiV3OrganizationIdAlertsGetRequest) (*RoutesV3AlertList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RoutesV3AlertList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertsAPIService.V3OrganizationIdAlertsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/{organization_id}/alerts"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ruleIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_ids", r.ruleIds, "form", "")
	}
	if r.severities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severities", r.severities, "form", "")
	}
	if r.pipelineIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pipeline_ids", r.pipelineIds, "form", "")
	}
	if r.resourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", r.resourceType, "form", "")
	}
	if r.resourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_id", r.resourceId, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV3OrganizationIdAlertsStreamGetRequest struct {
	ctx context.Context
	ApiService *AlertsAPIService
	organizationId string
	since *string
	last *string
	ruleIds *string
	severities *string
	resourceIds *string
	resourceType *string
}

// RFC3339 timestamp to start streaming from
func (r ApiV3OrganizationIdAlertsStreamGetRequest) Since(since string) ApiV3OrganizationIdAlertsStreamGetRequest {
	r.since = &since
	return r
}

// Duration to start streaming from (e.g., &#39;5m&#39;, &#39;1h&#39;, &#39;24h&#39;)
func (r ApiV3OrganizationIdAlertsStreamGetRequest) Last(last string) ApiV3OrganizationIdAlertsStreamGetRequest {
	r.last = &last
	return r
}

// Comma-separated alert rule IDs
func (r ApiV3OrganizationIdAlertsStreamGetRequest) RuleIds(ruleIds string) ApiV3OrganizationIdAlertsStreamGetRequest {
	r.ruleIds = &ruleIds
	return r
}

// Comma-separated severity levels
func (r ApiV3OrganizationIdAlertsStreamGetRequest) Severities(severities string) ApiV3OrganizationIdAlertsStreamGetRequest {
	r.severities = &severities
	return r
}

// Comma-separated resource IDs
func (r ApiV3OrganizationIdAlertsStreamGetRequest) ResourceIds(resourceIds string) ApiV3OrganizationIdAlertsStreamGetRequest {
	r.resourceIds = &resourceIds
	return r
}

// Resource type filter
func (r ApiV3OrganizationIdAlertsStreamGetRequest) ResourceType(resourceType string) ApiV3OrganizationIdAlertsStreamGetRequest {
	r.resourceType = &resourceType
	return r
}

func (r ApiV3OrganizationIdAlertsStreamGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.V3OrganizationIdAlertsStreamGetExecute(r)
}

/*
V3OrganizationIdAlertsStreamGet Stream alerts in real-time

Stream alerts for an organization using Server-Sent Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return ApiV3OrganizationIdAlertsStreamGetRequest
*/
func (a *AlertsAPIService) V3OrganizationIdAlertsStreamGet(ctx context.Context, organizationId string) ApiV3OrganizationIdAlertsStreamGetRequest {
	return ApiV3OrganizationIdAlertsStreamGetRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return string
func (a *AlertsAPIService) V3OrganizationIdAlertsStreamGetExecute(r ApiV3OrganizationIdAlertsStreamGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertsAPIService.V3OrganizationIdAlertsStreamGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3/{organization_id}/alerts/stream"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.last != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last", r.last, "form", "")
	}
	if r.ruleIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rule_ids", r.ruleIds, "form", "")
	}
	if r.severities != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severities", r.severities, "form", "")
	}
	if r.resourceIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_ids", r.resourceIds, "form", "")
	}
	if r.resourceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", r.resourceType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
